.folders {
    display: flex;

    gap: 0.5rem;

    overflow-x: auto;
}


/*#region folders 내부 button 용 div */
.folders .buttonDiv {
    flex-basis: 5rem;
    flex-grow: 0;
    flex-shrink: 0;

    display: flex; 
    flex-direction: column;

    gap: 0.5rem;
}

.folders .buttonDiv .folderButton {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #dddddd;
    border-radius: 5px;

    cursor: pointer;

    user-select: none;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

/*#endregion */


/*#region folder */

.folders .folder {
    flex-basis: 10%;
    flex-grow: 0;
    flex-shrink: 0;

    height: 100%;
    max-width: 10%;

    border: 2px solid #dddddd;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    cursor: pointer;

    user-select: none;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.folders .folder.small {
    flex-basis: 5%;
    flex-grow: 0;
    flex-shrink: 0;
}

.folders .folder .folderName {
    padding: 0.5rem;

    font-size: 1.2rem;
    font-weight: 600;

    text-overflow: ellipsis;
    white-space: nowrap; /* 텍스트가 한 줄로 나오도록 */
    overflow: hidden; /* 넘치는 텍스트 숨김 */
}

.folders .folder .folderInfo {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;

    font-size: 0.8rem;
    color: gray;

    margin: 0;
}

.folders .folder img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.folders .folder button {
    position: absolute;
    top: 1px;
    right: 1px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;

    border: none;
    border-radius: 999px;
    
    background-color: #ffffff00;

    filter: opacity(0.5);
}

.folders .folder button:hover {
    background-color: #bf00ff12;

    cursor: pointer;

    filter: none;
}

.folders .folder button img {
    height: 20px;
    width: 20px;
}

.folders .folder.selected {
    border-color: gray;
}
/*#endregion */

/*#region folder form*/
.folders .folderForm {
    flex-basis: 250px;
    flex-grow: 0;
    flex-shrink: 0;

    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 0.5rem;

    border: 2px solid #dddddd;
    border-radius: 5px;
}

.folders .folderForm input {
    width: 100%;

    margin-bottom: 0.5rem;
}

.folders .folderForm button {
    margin: 0 0.2rem;
}

/*#endregion */



.folders .disabled {   
    background: white;
    filter: contrast(0.5);
    border-color: gray;

    cursor: no-drop !important;
}