.main {
    display: flex;
    flex-direction: column;

    height: 100vh; 
    width: 100vw;
}

.foldersWrapper {
    flex-basis: 120px;
    flex-shrink: 0;
    flex-grow: 0;

    margin-top: 5px;
    padding: 0 0.5rem;
    
    display: flex;
}

.subsWrapper {
    width: 100vw;
    height: calc(100% - 120px);

    padding: 15px 0.5rem 10px 0.5rem;

    position: relative;
}

.footer {
    position: fixed;
    bottom: 0px;

    width: 100vw;
    height:55px;

    border-top: 2px solid gray;

    text-align: center;

    background-color: white;

    color: gray;
    font-weight: 700;
}