.subsMove {
    display: flex;
}

/*#region subs wrapper*/
.subsMove .subsWrapper {
    width: 50%;
    height: 100%;

    border: 2px solid #dddddd;
    border-radius: 5px;

    overflow-y: auto;

    padding: 0.5rem;
}

.subsMove .subsWrapper .subDiv {
    display: inline-block;

    height: 15%;
    width: 20%;
    
    padding: 0.3rem;

    position: relative;
}

.subsMove .subsWrapper .subDiv button.openLink {
    position: absolute;
    top: 5px;
    right: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;

    border: none;
    border-radius: 999px;
    
    background-color: #ffffff00;

    filter: opacity(0.3);
}


.subsMove .subsWrapper .subDiv button.openLink:hover {
    cursor: pointer;

    filter: none;
}

.subsMove .subsWrapper .subDiv button.openLink img {
    height: 20px;
    width: 20px;

    cursor: pointer;
}

.subsMove .subsWrapper .subDiv .sub {
    width: 100%;
    height: 100%;

    border: 2px solid #dddddd;
    border-radius: 5px;
    
    padding: 0.5rem;

    display: flex;
    flex-direction: column;

    cursor: pointer;
    
    user-select: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
}

.subsMove .subsWrapper .subDiv .sub .imgDiv {
    flex-basis: 80%;
    flex-grow: 0;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;

}

.subsMove .subsWrapper .subDiv .sub .imgDiv img {
    border: 1px solid #dddddd;
    border-radius: 999px;
}

.subsMove .subsWrapper .subDiv .sub .contentDiv {
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
    
    max-width: 100%;
    height: 100%;
    
    font-size: 1rem;
    font-weight: 700;

    text-align: center;

    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subsMove .subsWrapper .subDiv .sub.selected {
    border: 3px solid gray
}

/*#endregion*/


/*#region button wrapper*/
.subsMove .buttonWrapper {
    flex-basis: 5%;
    flex-grow: 0;
    flex-shrink: 0;   

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 2rem;
}
/*#endregion button wrapper*/
